# Tasca de web scraping

Aprèn a realitzar web scraping.

**Exercici 1**

Realitza web scraping d'una pàgina de la borsa de Madrid (https://www.bolsamadrid.es) utilitzant BeautifulSoup i Selenium.

**Exercici 2**

Documenta en un word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.

**Exercici 3**

Tria una página web que tu vulguis i realitza web scraping mitjançant la llibreria Scrapy.

In [1]:
import csv
import time
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium.webdriver import Chrome

# Exercici 1

In [2]:
# Download web
URL = 'https://www.bolsamadrid.es/esp/aspx/Portada/Portada.aspx'

In [3]:
# Navigate to web
browser = Chrome("./chromedriver")
browser.get(URL)

In [4]:
# Get the page
browser.find_element_by_link_text("Acciones").click()
soup = BeautifulSoup(browser.page_source, 'html.parser')

In [5]:
# Select inf 
raw_table = soup.find("table", {"class": "TblPort", "id": "ctl00_Contenido_tblAcciones"})
rows = raw_table.find_all("tr")

In [6]:
# Save in csv
table = open('table.csv', mode='w')
table_writer = csv.writer(table, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)

In [7]:
# Headers
headers = [x.text for x in rows[0].find_all("th")]
table_writer.writerow(headers);

In [8]:
# Save row inf
for row in rows[1:]:
    columns = [x.text for x in row.find_all("td")]
    table_writer.writerow(columns)

In [9]:
# Close CSV
table.close()

In [10]:
# Read csv
df = pd.read_csv("table.csv")
display(df)

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"125,4000","-1,49","127,2000","125,0000",63.803,"8.022,82",15/07/2021,16:15:03
1,ACERINOX,"10,3450","-0,91","10,5100","10,2800",353.929,"3.661,77",15/07/2021,16:15:37
2,ACS,"21,5400","-2,62","22,0200","21,4600",293.757,"6.370,83",15/07/2021,16:15:16
3,AENA,"131,4500","-1,61","132,8500","130,4500",62.272,"8.196,74",15/07/2021,16:15:40
4,ALMIRALL,"14,6100","-0,95","14,9200","14,6000",154.770,"2.284,30",15/07/2021,16:15:25
5,AMADEUS,"54,6600","-1,44","55,3600","54,3600",346.422,"18.962,33",15/07/2021,16:15:43
6,ARCELORMIT.,"26,1700","-0,87","26,5550","26,0500",175.369,"4.604,11",15/07/2021,16:15:20
7,B.SANTANDER,"3,0955","-0,27","3,1235","3,0800",11.461.597,"35.534,86",15/07/2021,16:15:45
8,BA.SABADELL,"0,5454","-0,26","0,5466","0,5330",10.531.031,"5.681,46",15/07/2021,16:15:39
9,BANKINTER,"4,2680","-0,74","4,3020","4,2340",689.836,"2.945,87",15/07/2021,16:15:40
10,BBVA,"5,1700","0,00","5,2050","5,1080",3.074.797,"15.870,80",15/07/2021,16:15:45
11,CAIXABANK,"2,4970","0,04","2,5070","2,4770",3.469.177,"8.652,12",15/07/2021,16:15:39
12,CELLNEX,"53,5000","-0,37","53,9800","53,3200",342.624,"18.376,17",15/07/2021,16:15:21
13,CIE AUTOMOT.,"25,0400","-2,19","25,9000","24,9600",603.176,"15.310,14",15/07/2021,16:13:06
14,ENAGAS,"18,2650","-0,60","18,4200","18,1900",3.720.304,"68.077,64",15/07/2021,16:15:22
15,ENDESA,"20,6700","-1,76","20,9700","20,6700",341.912,"7.113,31",15/07/2021,16:15:46
16,FERROVIAL,"24,5500","-2,19","25,0200","24,3700",303.458,"7.489,92",15/07/2021,16:15:44
17,FLUIDRA,"35,8500","0,70","35,9000","35,3000",143.939,"5.130,33",15/07/2021,16:15:39
18,GRIFOLS CL.A,"20,6600","-0,24","20,9600","20,4900",234.510,"4.867,67",15/07/2021,16:15:19
19,IAG,"1,9470","-3,09","2,0010","1,9355",20.291.115,"39.803,03",15/07/2021,16:15:31
20,IBERDROLA,"10,2400","-0,58","10,3800","10,2150",2.991.819,"30.770,01",15/07/2021,16:15:03
21,INDITEX,"27,8600","-4,88","29,1000","27,8000",3.612.784,"103.720,09",15/07/2021,16:15:23
22,INDRA A,"7,4400","-1,78","7,5600","7,3850",234.480,"1.754,36",15/07/2021,16:14:05
23,INM.COLONIAL,"8,5450","-1,38","8,6450","8,5350",220.409,"1.890,65",15/07/2021,16:14:40
24,MAPFRE,"1,7560","0,20","1,7635","1,7380",946.332,"1.658,89",15/07/2021,16:14:40
25,MELIA HOTELS,"5,7660","-2,44","5,8960","5,7260",745.480,"4.320,07",15/07/2021,16:14:20
26,MERLIN,"8,9800","-1,34","9,0320","8,8800",252.447,"2.264,86",15/07/2021,16:14:31
27,NATURGY,"22,2100","-0,49","22,3600","22,1300",209.726,"4.672,98",15/07/2021,16:14:47
28,PHARMA MAR,"73,4000","-3,06","75,4200","72,7000",93.128,"6.843,14",15/07/2021,16:15:25
29,R.E.C.,"15,9000","0,13","15,9300","15,8000",282.058,"4.480,88",15/07/2021,16:15:04
30,REPSOL,"9,2780","-2,94","9,5010","9,2320",17.557.793,"164.344,99",15/07/2021,16:15:40
31,SIEMENS GAME,"22,6000","-14,00","23,2200","21,5100",4.213.989,"94.895,11",15/07/2021,16:15:33
32,SOLARIA,"16,3600","-4,38","17,1100","16,1350",780.642,"12.830,66",15/07/2021,16:15:38
33,TELEFONICA,"3,6835","-2,16","3,7630","3,6700",4.252.494,"15.742,21",15/07/2021,16:15:25
34,VISCOFAN,"57,3500","-1,04","57,8000","57,1000",17.824,"1.021,92",15/07/2021,16:09:03